extends ../layout.jade

block content
	h1 Venue
	
	div
		div#venueInTables.venueListDiv(class='col col-xs-offset-1')
			div.info(class='col col-xs-4')
				h3 #{venue.name} 
				p Location: #{venue.street_address}, #{venue.city}, #{venue.zipcode}
				p Music: #{venue.music}
				p Clientele: #{venue.clientele}
			div.pic(class='col col-xs-offset-4')
				img.venueImg(src=venue.pic1)
				div#starsRev
					img(src=venue.stars)
					p # of reviews: #{venue.reviews}
		div.venueDescription(class='col col col-xs-8 col-xs-offset-1')
			h3 What to look forward to! 
			p= venue.description
		br
		br

		h1 Tables

		div.tableItems
			each table in tables
				div.tableListDiv(class='col col-xs-offset-1')
					div.info(class='col col-xs-4 ')
						h3 INFO
						p Table: #{table.table_name} 
						p Description: #{table.description}
						p Status: #{table.table_status}
						p Total Cost: $#{table.cost}
						p Max Table Capacity: #{table.maxCapacity}
						p Min $/Person: $#{table.cost / table.maxCapacity}
						button
							a(type='button' class='btn btn-sm' href='/venues/#{venue.id}/tables/#{table.id}/reservations/new') JOIN TABLE
					div.pic(class='col col-xs-offset-4')
						img.tableImg(src=venue.pic2)

