extends ../layout.jade

block content
	h1 Venue
	
	div
		div#venueInTables.venueListDiv(class='col col-xs-offset-1')
			div.info(class='col col-xs-4')
				h3 INFO
				p Venue: #{venue.venueName} 
				p Location: #{venue.street_address}, #{venue.city}
				p min price at max cap for cheapest table:
				p # of reviews: #{venue.reviews}
				p Stars: #{venue.stars}
				a(href='/venues/#{venue.id}/tables') More...
			div.pic(class='col col-xs-offset-4')
				img.venueImg(src=venue.pic1)
		br
		br

		h1 Tables

		div.tableItems
			each table in tables
				div.tableListDiv(class='col col-xs-offset-1')
					div.info(class='col col-xs-4 ')
						h3 INFO
						p Table: #{table.table_name} 
						p Description: #{table.description}
						p Status: #{table.table_status}
						p Total Cost: $#{table.cost}
						p Max Table Capacity: #{table.maxCapacity}
						p Min $/Person: $#{table.cost / table.maxCapacity}
						button(href='/venues/#{venue.id}/tables/#{table.id}/reservations/new') JOIN
					div.pic(class='col col-xs-offset-4')
						img.tableImg(src=venue.pic2)

