extends ../layout.jade

block content
  .row
    .static.col-xs-3
    .static.col-xs-6#profile
      h3 Your Account
      img.img-rounded(src='#{user.profile_pic}', width='175', height='175', vspace='10')
      div
        h2 #{user.alias}
        p Birthday: 
        h4 #{user.dob}
        p About Me: 
        h4 #{user.blurb}
        a(href="/users/#{user.id}/edit", class="btn btn-large btn-primary") Edit Your Account
        p
    .static.col-xs-3